@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.profileOptions{
    height: 42px;
    width: 130px;
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    margin: 0px 10px 0px 0px ;
    transition: 300ms background-color ease-in;
    color: #ffffff;
    cursor: pointer;
    &__options{
        height: 11vh;
        width: 127px;
        padding-top: 43px;
        z-index: -1;
        position: absolute;
        top: 10px;
        right: 13px;
        background-color: #303030;
        border-radius: 10px 10px 10px 10px;
        @include flexbox(column, none, none, center, center);
        display: none;
    }
    &__name{
        overflow: hidden;
        text-overflow: ellipsis;
        height: 20px;
        margin: auto 10px;
        text-transform: lowercase;
    }
    &__option{
        transition: 300ms background-color ease-in;
        color: #919191;
        width: 100%;
        padding: 10px 0px;
        height: 20px;
        text-align: center;
        text-transform: capitalize;
        &:hover{
        color: #ffffff;
        background-color: rgba(99, 99, 99, 0.658);
        }
    }
    &:hover{
        & .profileOptions__options{
          display: inherit;
        }
    }
    @media (min-width: $s-small) {
        &__name{
            display: inherit;
        }
    }
    @media (min-width: $medium) {
        width: 185px;
        &__options{
            width: 185px;
        }
    }
}
.activeoption{
    color: #ffffff;
    background-color: rgba(99, 99, 99, 0.658);
}
.profileOptionsActive{
    background-color: #303030;
    border-radius: 20px 20px 20px 20px;
}