@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.loading{
    @include flexbox(none, none, center, center, center);
    @include containerBody(#000000, #000000);
    padding: 0vh 0vh 4vh;
    &__spinner{
        border: 4px solid #0000001a;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border-color: #747474 #747474 #747474 #15ff00;
        animation: spin 1s ease infinite;
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}