.choiceOptions{
    color: #919191;
    height: 41px;
    cursor: pointer;
    padding: 0px 0px 0px 5px;
    display: flex;
    align-items: center;
    transition: 300ms color ease-in;
    &__title{
        margin: 10px 0px 0px 5px;
    }
    &:hover{
        color: #fff;
    }
    & .MuiSvgIcon-root{
        font-size: 31px;
        padding: 0px 10px 0px 0px;
    }
}
.activeLink{
    color: #fff;
}