@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.footer-right {
    width: 25%;
    display: none;
    @include flexbox(none, none, none, flex-end, center);
    display: none;
    &__icon{
        margin: 0px 5px;
    }
    &__volume{
        padding:0px 15px 0px 5px;
        @include flexbox(none, none, none, none, center);
    }
    & .footer-right__Slider{
        margin-left: 5px;
        min-width: 80px;
        font-size: 1px;
        color: #fff;
        & .MuiSlider-thumb{
            height: 0px;       
            width: 0px;
            color: #fff;
        }
        &:hover{
            color: #00ff00;
            & .MuiSlider-thumb{
                height: 10px;
                width: 10px;
            }
        }
    }
    @media (min-width: $s-small) {
        display: none;
        width: 20%;
    }
    @media (min-width: 868px) {
        display: inherit;
    }
    
}