@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';
.DescriptionsList{
    @include flexbox(none, none, none, none, flex-end);
    padding: 0px 1% 0px 1%;
    &__infoText{
        flex: 1;
        & h1{
            margin-bottom: 10px;
        }
    }
    &__image{
        width: 20vw;
        margin: 7vh 25px 0px 25px;
        box-shadow: 2px 2px 30px #000;
    }
    &__name-list{
        margin: 0px 0px 26px 0px;
        font-size: 4.9vw;
        font-weight: 900;
        text-transform: lowercase;
        letter-spacing: -1px;
        word-spacing: -4px;
        &:first-letter {
            text-transform: uppercase;
        }
    }
    &__descrip-list{
        color: #ffffff;
    }
    &__owner{
        float: left;
        margin-right: 5px;
        font-weight: 700;
        font-size: 13px;
    }
    &__list{
        float: left;
        margin-right: 5px;
        font-size: 13px;
    }
}
.MuiAvatar-root{
    width: 10px;
}