@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.footer-center{
    width: 100%;
    min-width: 300px;
    max-width: 100%;
    @include flexbox(column, none, center, center, center);
    color: $text-2;
    &__options-Play{
        min-width: 40%;
        @include flexbox(none,none,none, space-evenly, center);
    }
    &__iconPlayer{
        font-size: 29px;
        margin: 0px 5px;
        cursor: pointer;
        &:hover{
            color: #fff;
            transition: 300ms color ease-in;
        }
        &:active{
            color: #b2b2b2;
            transition: none;
        }
    }
    &__time{
        max-width: 300px;
        min-width: 100%;
        @include flexbox(none, none, none, center, center);
        & p{
            font-size: 1.2vh;
            margin: 0px 7px;
        }
    }
    & .footer-center__iconPlayOption{
        font-size: 38px;
        margin: 0px 5px;
        cursor: pointer;
        &:hover{
            color: #fff;
            transition: 300ms color ease-in;
        }
        &:active{
            color: #b2b2b2;
            transition: none;
        }
    }
    & .footer-center__btnPlay{
        font-size: 42px;
        cursor: pointer;
        color: #fff;
        margin: 0px 5px;
        &:hover{
            transition: 300ms color ease-in;
        }
        &:active{
            color: #b2b2b2;
            transition: none;
        }
    }
    & .footer-center__time-bar{
        width: 70%;
        height: 14%;
        color: #fff;
        & .MuiSlider-thumb{
            height: 0px;       
            width: 0px;
            color: #fff;
        }
        &:hover{
            color: #00ff00;
            & .MuiSlider-thumb{
                height: 10px;
                width: 10px;
            }
        }
    }
    @media (min-width: $s-small) {
        width: 50%; 
    }
}