@mixin flexbox ($direction, $wrap, $aContent, $justify ,$aItems){
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    align-content: $aContent;
    justify-content: $justify;
    align-items: $aItems;
}

@mixin containerBody ($color1, $color2,){
    height: 80vh;
    width: calc(100% - 45px);
    margin: 7vh 0vh 9vh 45px;
    color: #fff;
    overflow: auto;
    background: linear-gradient( $color1 1%,$color2 72%);
    &::-webkit-scrollbar{
        background-color: transparent;
        width: 1.1vh;
    }
    &::-webkit-scrollbar-thumb{            /*Diseño del scroll*/
        transition: 300ms color ease-in;
        background-color: #f3f3f365;
    transition: 300ms color ease-in;
    }
    &::-webkit-scrollbar-thumb:hover{      /*Reaccion del scroll*/
        background-color: #f3f3f38e;
    }
}