@mixin flexbox ($direction, $wrap, $aContent, $justify ,$aItems){
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    align-content: $aContent;
    justify-content: $justify;
    align-items: $aItems;
}