/*--------------- Response ---------------*/
$small: 400px;      /*---- Mobile devices ----*/
$s-small:570px;     /*---- Tablet devices ----*/
$medium: 768px;
$large: 960px;
$x-large: 1060px;   /*---- Desktop devices ----*/
$xx-large: 1250px;
$xxx-large: 1440px;
$high-quality: 1700px;

/*---------------- Colors ----------------*/
$backgroud-1: #000000;
$background-2: #181818;
$text-one: #fff;
$text-2: #b2b2b2;