@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.songRow{
    height: 60px;
    padding: 10px 0px;
    @include flexbox(none, none, none, space-between, center);
    color: #fff;
    cursor: pointer;
    &__info-music{
        @include flexbox(none, none, none, none, center);
        margin-left: 25px;
    }
    &__icon-favorite{
        width: 20px;
        margin: 0px 15px;
        color: #00ff22;
    }
    &__icon-Borderfavorite{
        width: 20px;
        margin: 0px 15px;
        &:hover{
            color: #a1a1a1;
        }
    }
    &__play-music{
        @include flexbox(none, none, none, none, center);
        position: relative;
    }
    &__play{
        position: absolute;
        top: 7px;
        left: 7px;
        color: #ffffff;
        display: none;
    }
    &__image{
        width: 50px;
        height: 50px;
        margin: 0px 15px 0px 0px;
        object-fit: contain;
    }
    &__titleSong{
        height: 16px;
        overflow: hidden;
        white-space: wrap;
        text-overflow: ellipsis;
        margin-bottom: 4px;
        text-transform: lowercase;
        &:first-letter {
            text-transform: uppercase;
        }
    }
    &__description{
        width: 100%;
        overflow: hidden;
        white-space: wrap;
        text-overflow: ellipsis;
        height: 16px;
        text-transform: capitalize;
        color: #b2b2b2;
    }
    &:hover{
        background-color: #8f8f8f49;
        & .songRow__play{
            display: inherit;
        }
    }
}