@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.mySavedTracks{
    @include containerBody(#48338c , #000);
    padding: 0vh 0vh 4vh;
    &__songs{
        background-color: #11111144;
        margin: 20px 0px;
        width: 100%;
    }
    &__list-songs{
        padding: 20px 1% 0px 1% ;
    }
}