@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.footerLeft{
    width: 100%;
    min-width: 280px;
    @include flexbox(none, none, none, center, center);
    display: none;
    color: $text-2;
    margin: 10px 0px;
    &__image{
        display: none;
        width: 56px;
        margin: 0px 20px 0px 16px;
        border-radius: 3px;
    }
    &__info-song{
        margin-right: 17px;
    }
    &__info-tittle{
        font-size: 1.3vh;
        color: $text-one;
        margin: 3px 0px 5px;
    }
    &__info-text{
        font-size: 1.1vh;
    }
    &__icon{
        margin: auto 8px;
        cursor: pointer;
        &:hover{
            transition: 300ms color ease-in;
            color: #fff;
        }
    }
    @media (min-width: $large) {
        width: 25%;
        margin: 0px 0px;
        @include flexbox(none, none, none, flex-start, center);
        &__image{
            display: inherit;
        }
        
    }
}