@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.playlist{
    @include containerBody(#466d82, #000);
    padding: 2vh 0vh;
    &__songs{
        background-color: #1f1e1e29;
        margin: 20px 0px;
        width: 100%;
    }
    &__list-songs{
        padding: 20px 10% 0px 10% ;
    }
}